<?xml version="1.0" encoding="utf-8"?>
<android.support.constraint.ConstraintLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="match_parent"
    android:layout_height="wrap_content"
    android:background="@drawable/drawable_quest_type"
    xmlns:app="http://schemas.android.com/apk/res-auto">

    <LinearLayout
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:layout_margin="8dp"
        android:orientation="vertical">

        <TextView
            android:id="@+id/quest_name"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:layout_gravity="center"
            android:gravity="center"
            android:layout_margin="10dp"
            android:text=""
            android:textColor="#ffffff"
            android:textSize="20sp"/>

        <com.lightfire.gradienttextcolor.GradientTextView
            android:id="@+id/menu_turn"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:layout_margin="10dp"
            android:layout_gravity="center"
            android:gravity="center"
            android:padding="4dp"
            android:shadowColor="#ff4500"
            android:shadowDx="1.5"
            android:shadowDy="1.5"
            android:shadowRadius="1.5"
            android:text="@string/menu_turn"
            android:textSize="28sp"
            android:textStyle="bold|italic"
            app:gradientEnd="#ff4500"
            app:gradientStart="#fffaf0" />

        <com.example.mitake.aiapplication.custom_layout.PushButton
            android:id="@+id/battle_log"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:layout_gravity="center"
            android:layout_margin="20dp"
            android:padding="4dp"
            android:gravity="center"
            android:textStyle="bold"
            android:textColor="#ffffff"
            android:background="@drawable/drawable_quest_story_background"
            android:text="@string/battle_log"
            android:soundEffectsEnabled="false"/>

        <LinearLayout
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:layout_gravity="center"
            android:orientation="horizontal">

            <com.example.mitake.aiapplication.custom_layout.PushButton
                android:id="@+id/retire"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:layout_marginEnd="16dp"
                android:layout_marginBottom="10dp"
                android:padding="4dp"
                android:gravity="center"
                android:textStyle="bold"
                android:textColor="#ffffff"
                android:background="@drawable/drawable_quest_constraint"
                android:text="@string/retire"
                android:soundEffectsEnabled="false"/>

            <com.example.mitake.aiapplication.custom_layout.PushButton
                android:id="@+id/cancel"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:layout_marginStart="16dp"
                android:layout_marginBottom="10dp"
                android:padding="4dp"
                android:gravity="center"
                android:textStyle="bold"
                android:textColor="#ffffff"
                android:background="@drawable/drawable_quest_battle_background"
                android:text="@string/cancel"
                android:soundEffectsEnabled="false"/>


        </LinearLayout>

    </LinearLayout>

</android.support.constraint.ConstraintLayout>